.movie-details {
    display: flex;
    flex-direction: row;
    padding: 20px;
    direction: rtl;
  }

  @media only screen and (max-width: 600px) {
    .movie-details {
      display: flex;
      flex-direction: column;
 
    }
  }
  
  .movie-details img {
    width: 300px;
    height: auto;
    border-radius: 8px;

  }
  
  .details-content {
    max-width: 600px;
    padding-right: 10px;
  }
  
  .details-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .details-content p {
    font-size: 1rem;
    margin: 5px 0;
  }

  .details-content span {
    font-size: 1.5;
    font-weight: bold;
  }
  