.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    direction: rtl;
    padding-bottom: 20px;
  }
  
  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1280px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  .movie-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 100%;
    text-align: center;
    background-color: white;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .movie-card h3 {
    margin: 16px 0 8px;
  }
  
  .movie-card p {
    margin: 8px 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .pagination button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .pagination button:hover {
    color: #f0a500;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 18px;
  }