.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    direction: rtl;
    padding-bottom: 20px;
  }
  
  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1280px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  .movie-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 100%;
    text-align: center;
    background-color: white;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .movie-card h3 {
    margin: 16px 0 8px;
  }
  
  .movie-card p {
    margin: 8px 0;
  }
  
  .load-button {
  background-color: #333; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.load-button:hover {
  background-color: #f0a500;
}

.button-container {
  display: flex;
  justify-content: center;
}
