.navbar {
  background-color: #282c34;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin: 0;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffa500;
}

.navbar-link svg {
  font-size: 20px;
  margin-left: 5px; 
}

.navbar-item.active .navbar-link {
  color: #ffa500;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%; 
  max-width: 500px; 
}

.search-input {
  flex-grow: 1; 
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-input::placeholder {
  color: #cccccc;
}

.search-input:focus {
  background-color: #555;
  border-color: #ffa500;
  outline: none;
}

.search-button {
  padding: 10px 15px; 
  background-color: #ffa500;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #e69500;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-list {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }

  .navbar-link {
    font-size: 16px;
  }

  .search-form {
    margin-top: 10px;
    width: 100%;
  }

  .search-input {
    width: calc(100% - 62px);
    margin-right: 10px;
  }

  .search-button {
    width: 52px; 

  }
}
