.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    margin: 0;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .navbar-link:hover {
    color: #f0a500;
  }
  
  .navbar-link svg {
    font-size: 20px;
  }


  .navbar-item.active .navbar-link {
    color: #f0a500; 
  }
  